.beaver-button {
  border-radius: var(--beaver-radius-md);
  border: none;
  cursor: pointer;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--beaver-color-text);
}

/* 变体：支持通过 --beaver-button-color 自定义颜色  */
/* Primary  */
.beaver-button--primary {
  background-color: var(--beaver-button-color, var(--beaver-color-primary));
  color: var(--beaver-button-text-color, var(--beaver-color-on-primary, #fff));
  border: none;
}

/* Ghost */
.beaver-button--ghost {
  background-color: transparent;
  color: var(--beaver-button-color, var(--beaver-color-primary));
  border: 1px solid var(--beaver-button-color, var(--beaver-color-primary));
}

/* link */
.beaver-button--link {
  background: transparent;
  border: none;
  padding: 0;
  color: var(--beaver-button-color, var(--beaver-color-primary));
}

/* 禁用状态下的样式 */
.beaver-button--disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

.beaver-button--primary.beaver-button--disabled {
  background-color: var(--beaver-color-disabled);
  color: var(--beaver-color-on-primary, #fff);
  border: none;
}
.beaver-button--ghost.beaver-button--disabled {
  background-color: transparent;
  color: var(--beaver-color-disabled);
  border: 1px solid var(--beaver-color-disabled);
}
.beaver-button--link.beaver-button--disabled {
  color: var(--beaver-color-disabled);
}
